.GrayButton {
    width: 177px;
    height: 40px;
    background-color: #dddcdc;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0,0,0,.5) 3px 3px;
    color: #a9a2a2;
    border-style: none;
}

.GrayButton:hover{
    background-color: #353434;
    color: #ffffff;
}

.GreenButton {
    width: 177px;
    height: 40px;
    background-color: #54d154;
    border-radius:20px 20px 20px 20px;
    text-transform:uppercase;
    box-shadow:rgba(0,0,0,.5) 3px 3px;
    color:#ffffff;
    text-shadow:2px 2px 2px #333;
    border-style:none;
}

.GreenButton:hover {
    background-color: #207b20;
}

.btn-primary-green {
    color: #fff;
    background-color: #2b9b2b;
    border-color: #54d154;
}

.btn-primary-green:hover {
    background-color: #54d154;
    border-color: #2b9b2b;
}

.btn-view-more-work {
    width: 185px;
    height: 42px;
    background-color: #2b9b2b;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0,0,0,.5) 3px 3px;
    color: #fff;
    border-style: none;
}
.btn-view-more-work:hover{
    background-color: #0af10a;
    color: rgb(10, 68, 4);
}