.ContainerMainHeader {
    background: url("../Images/background.png") no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 660px;
}

.links {
    color: white;
    font-family: Verdana;
    font-size: 16px;
    text-shadow: 3px 0px 2px #808080;
    margin-left: 10px;
}

.ContainerMainHeader .art-is-eternal {
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 270px;
}

.links:hover {
    border-top: 5px solid #54d154;
}



.ContainerMainHeader .text-search-box {
    width: 180px;
    height: 28px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px 20px 20px 20px;
    color: #fff;
    text-indent: 10px;
    border-style: none;
    color: #000;
    margin-top: 10px;
    position: relative;
    float: right;
}

.text-search-box .search-icon {
    position: relative;
    float: right;
}