.ContainerMeetTheTeam {
    background-color: #54d154
}
    .ContainerMeetTheTeam h1 {
        color: #207b20;
        text-transform:uppercase;
        padding-top:37px;
        font-family:Verdana;
        font-size:26px;
        font-weight:bold;
    }

    .ContainerMeetTheTeam h2 {
        color: #2b9b2b;
        font-family: Verdana;
        font-size: 20px;
    }

.GreenButton {
    width: 177px;
    height: 40px;
    background-color: #54d154;
    border-radius:20px 20px 20px 20px;
    text-transform:uppercase;
    box-shadow:rgba(0,0,0,.5) 3px 3px;
    color:#ffffff;
    text-shadow:2px 2px 2px #333;
    border-style:none;
}
