.ContainerWhatWeDo {
    /* height:130px;*/
   
    background-color:#ffffff;
}
    .ContainerWhatWeDo h1 {
        color: #828181;
        text-transform: uppercase;
        padding-top: 37px;
        font-family: Verdana;
        font-size: 26px;
        font-weight: bold;
    }

    .ContainerWhatWeDo h2 {
        color: #d6d3d3;
        font-family: Verdana;
        font-size: 20px;
    }
